.container{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container > div{
    margin: 0 auto;
    width: 1280px;
}
.Op-component-1 {
    height: 1079.8px;
    background-color: #2a2a2a;
  }
  .Attention-Seeking-Serious-Partners {
    width: 555px;
    height: 36.2px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.44;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;

   display: inline-block;
  }
  .Get-Uncapped-Commission-with-Dizruptiv-Blockchain-Crypto-Education-Forum {
    width: 907.3px;
    height: 164.2px;
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: 4.6px;
    text-align: center;
    color: #fe0000;
    display: inline-block;
   
  }
  .Vector-Smart-Object {
    width: 544.9px;
    height: 544.9px;
    object-fit: contain;
    opacity: 0.25;
  }

  .Group-14 {
    width: 857px;
    height: 453.1px;
    object-fit: contain;
  }
  .Get-Massive-750---1000-Commissions-70000-In-Prizes-By-Promoting-The-Most-Anticipated-Crypto-Community-That-Reveals-The-Complete-Underground-Blockchain-and-Crypto-Secrets-to-Success {
    width: 996.2px;
    height: 90.3px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: inline-block;
  }
  
  .Get-Massive-750---1000-Commissions-70000-In-Prizes-By-Promoting-The-Most-Anticipated-Crypto-Community-That-Reveals-The-Complete-Underground-Blockchain-and-Crypto-Secrets-to-Success .text-style-1 {
    font-weight: bold;
    color: #fe0000;
  }
  .Rounded-Rectangle-606 {
    width: 390.8px;
    height: 87.9px;
    border-radius: 73px;
    box-shadow: 0px 25px 30px 0 rgba(254, 0, 0, 0.28);
    background-color: #fe0000;

    text-align: -webkit-center;
  }
  .Rounded-Rectangle-606 li{
    list-style-type:none;
  }
  .SIGN-UP {
    width: 193px;
    height: 43px;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.00;
    letter-spacing: 7px;
    text-align: left;
    color: #ffffff;
  }

  /* ---Affilate Page-----*/
  .Affiliate-Page {
    height: 19525px;
    background-color: #ffffff;

  }
  .What-Is-Dizruptiv {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: 2.1px;
    
    margin-bottom: 19px;
    color: #262525;
  }
  .Rounded-Rectangle-3 {
    width: 60.2px;
    height: 4.4px;
    border-radius: 2px;
    border: solid 2px #fe0000;
    background-color: #fe0000;
    margin-left: 609.5px;
  }

  .The-blockchain-space-has-exploded-in-recent-years {
    width: 914.5px;
    height: 23px;
    opacity: 0.8;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    margin-left: 182.7px;
margin-bottom: 86.1px;
    color: #000000;
  }
  .but-many-people-still-dont-really-understand-what-Blockchain-is-or-why-its-such-a-massive-opportunity-to-so-many-entrepreneurs-and-investors {
    width: 924.5px;
    height: 67.8px;
    opacity: 0.8;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #262525;

    margin-left: 177.7px;
    margin-bottom: 60.2px;
  }
  .Affiliate-Page span{
    display: block;
  }
  .By-making-Blockchain-more-approachable-to-the-masses-we-hope-to-inspire-people-to-innovate-in-the-space-with-an-entrepreneurial-approach-Blockchain-truly-has-transformative-potential-that-will-DIZRUPT-how-we-operate-our-daily-lives-in-the-future-and-thos {
    width: 1050.5px;
    height: 134.8px;
    opacity: 0.8;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #262525;

    margin-left: 144.4px;
  }
  
  .Op-component-2 {
    width: 1280px;
    height: 2211.8px;
    background-color: #2a2a2a;
  }

  .Op-component-2 .What-Is-Dizruptiv {
    height: 52px;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.71;
    letter-spacing: 2.1px;
    text-align: center;
    color: #fe0000;
    
  }
  .Op-component-2  .Rounded-Rectangle-3{
      margin-top:37.5px;
  }
  .Op-component-2  .This-isnt-just-an-education-opportunity-its-a-money-making-opportunity-Youll-have-the-chance-to-grab-a-strong-understanding-of-how-you-can-take-advantage-of-the-Blockchain-and-Crypto-space-regardless-of-your-knowledge-level {
    width: 993px;
    height: 95.9px;
    opacity: 0.8;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 144.4px;
    margin-top:33.7px;
  }

  .Op-component-2  .This-exclusive-program-consists-of-2-Membership-Components- {
    width: 814.9px;
    height: 24.9px;
    opacity: 0.8;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 233px;
    margin-top: 60.1px;
  }

  .Rounded-Rectangle-6 {
    width: 857px;
    height: 269.6px;
    border-radius: 10px;
    box-shadow: 0px 20px 30px 0 rgba(40, 40, 40, 0.18);
    background-color: #ffffff;
    margin-top: 17.9px;
    margin-left: 212.5px;
  }
  .Path-22 {
    width: 8.4px;
    height: 29.6px;
    background-color: #ec1f24;
  }
  .iDizrupt-Training {
    width: 193px;
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4;
    letter-spacing: 1px;
    text-align: left;
    color: #262525;
    margin-left: 119px;
  }
  .This-extensive-12-Hour-Bootcamp-is-packed-with-tons-of-educational-material-to-learn-more-about-Crypto-and-the-Blockchain-Expect-to-find-tons-of-videos-and-text-materials-to-make-sure-youve-got-all-your-bases-covered-as-you-navigate-the-space-and-earn-mo {
    width: 700px;
    height: 143.4px;
    opacity: 0.8;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #262525;
    margin-top: 65px;
    margin-left: 119px;
    
  }

  .Path-3 {
    width: 54.2px;
    height: 54.2px;
    background-color: #ffffff;
    margin: 6px;
    margin-left: 614px;

  }
  .Dizruptiv-Forum {
    width: 185px;
    height: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4;
    letter-spacing: 1px;
    text-align: left;
    color: #262525;
    margin-left: 119px;
  }