*{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding: 0;
  width: 100%;
}
.bg-darker{
  background-color: #2a2a2a;
  color: white;
}
.section-1-bg{
  background-image:url('../images/Vector-Smart-Object.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;

  padding: 20px;
}
.text-red{
  color:red !important;
}

.p-st-1{
  font-size: 22px !important;
  line-height: 1.36;
  margin-top: 22px;
}

.btn-rounded{
  font-size: 2rem !important;
  color: white !important;
  border-radius: 73px !important;
  box-shadow: 0px 25px 30px 0 rgba(254, 0, 0, 0.28);
  background-color: red !important;
  padding: 1rem 6rem !important;
  letter-spacing: 7px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.00;
}

.Group-14 {
  max-height: 453.1px !important;
  object-fit: contain;
}

.Rounded-Rectangle-3 {
  width: 4rem;
  height: 0.25rem;
  border-radius: 2px;
  border: solid 2px #fe0000;
  background-color: #fe0000;
  margin: 0 auto;
}

.Rounded-Rectangle-6 {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0 rgba(40, 40, 40, 0.18);
  background-color: #ffffff;
  color:black !important;
}

.Path-3 {
  width: 4rem;
  height: 4rem;
  color: black !important;
  background-color: #ffffff !important;
  border-radius: 50%;
  font-size: xx-large;
  font-weight: bolder;
}
.p-normal{
  opacity: 0.8;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
}
#ulist{
  list-style: none;
}
.Ellipse-20 {
  width: 14px;
  height: 14px;
  opacity: 0.8;
  background-color: #262525;
  border-radius: 50%;
  display: inline-block;

}

.card-pic {
  padding: 2px;
  align-self: center;
  object-fit: contain;
}

#section-4 .card{
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  max-width: 267px;
  margin: 0 auto;
}

#section-5 .bg-dark2{
  background-color: #3b3b3b;

}
.Ellipse-18 {
  width: 24px;
  height: 24px;
  background-color: #fe0000;
  border-radius: 50%;
  margin-right: 1rem;
}

#section-5 ul li{
  text-align: left;
  display: inline-flex;
  margin-bottom: 2rem;
}

#section-6 >div {
  background-color: #ebebeb;
}

#section-6 .ac{
  height: 50%;
}
/* .Rectangle-7 {
  border-radius: 20px;
  height: 50%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #6e7280;
  border-radius: 20px 20px 120px 120px;
}
.Rectangle-7-1{
  height: 50%;
} */
.text-style-1 {
  font-weight: bold;
  color: #fe0000; 
  display: inline;
}

#section-8 .card-header ,#section-8 .card-footer{
  background-color:white;
  border: none;
}
.letter-spacing-1{
  letter-spacing: 2.1px;
}

#section-9 .card{
  border: none;
}
#section-9 .card-header, #section-9 .card-footer{
  background-color: #2a2a2a;
  border:none; 
}

#section-9 .card-body{ 
  padding: 0;
  position: relative;
}
.card-bdiv{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;

}

.Rectangle-7 {
  width: 100%;
  height: 187px;
  border-radius: 20px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #f6f7fa;
  border-radius: 20px 20px 120px 120px;
}
.Rectangle-2 {
  padding:0 !important;
  width: 299px;
  height: 434px;
  border-radius: 20px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
.vertical-center{
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}